streamlit>=1.22.0
langchain>=0.3.3
langchain-community>=0.3.2
langchain_core>=0.3.10
langchain_openai<=0.2.2
# python-dotenv
youtube-transcript-api>=0.6.2
openai>=0.27.0
certifi>=2023.7.22  # Para asegurar la configuración SSL adecuada




